<main>
  <section class="ourPets__home">
    <app-subtitle
      [fontColor]="'var(--color-primary)'"
      [fontWeight]="'200'"
      [textShadow]="'2px 2px var(--color-secondary)'"
      subtitle="Não são apenas pessoas que precisam de uma casa"
    ></app-subtitle>
    <app-description
      [fontColor]="'var(--color-primary)'"
      [textShadow]="'2px 2px var(--color-secondary)'"
      [width]="'40%'"
      description="Adotar um animal de estimação é muito mais do que trazer um novo membro para a família. É um ato de amor, compaixão e responsabilidade. Animais de estimação não são apenas companheiros leais, eles também trazem alegria, conforto e ensinam valiosas lições de vida."
    ></app-description>
    <app-button
      [bgButtonColor]="'var(--color-tertiary)'"
      [BorderRadius]="'20px'"
      [colorFont]="'var(--color-secondary)'"
      text="Faça um amigo"
    ></app-button>
  </section>

  <section class="ourPets__about">
    <div class="about_img">
      <img src="../../../../assets/images/dog-cat.png" alt="Pets">
    </div>
    <div class="about_info">
      <app-subtitle
        [fontColor]="'var(--color-secondary)'"
        [fontWeight]="'200'"
        subtitle="Por quê adotar um animal de estimação"
      ></app-subtitle>
      <app-description
        [fontColor]="'var(--color-secondary)'"
        [width]="'90%'"
        description="Adotar um animal de estimação é muito mais do que trazer um novo membro para a família. É um ato de amor, compaixão e responsabilidade. Animais de estimação não são apenas companheiros leais, eles também trazem alegria, conforto e ensinam valiosas lições de vida."
      ></app-description>
      <app-description
        [fontColor]="'var(--color-secondary)'"
        [width]="'90%'"
        description="Adotar um animal de estimação é muito mais do que trazer um novo membro para a família. É um ato de amor, compaixão e responsabilidade. Animais de estimação não são apenas companheiros leais, eles também trazem alegria, conforto e ensinam valiosas lições de vida."
      ></app-description>
    </div>
  </section>

  <section class="ourPets__pets">
    <app-subtitle
      [fontColor]="'var(--color-secondary)'"
      [fontWeight]="'200'"
      subtitle="Nossos amigos que precisam de um lar"
    ></app-subtitle>
    <ul>
      <li>
        <img src="" alt="">
        <p>A</p>
        <app-button
          text="Adote um pet"
        ></app-button>
      </li>
      <li>
        <img src="" alt="">
        <p>A</p>
        <app-button
          text="Adote um pet"
        ></app-button>
      </li>
      <li>
        <img src="" alt="">
        <p>A</p>
        <app-button
          text="Adote um pet"
        ></app-button>
      </li>
   </ul>
    <app-button
      [bgButtonColor]="'var(--color-tertiary)'"
      [BorderRadius]="'20px'"
      [colorFont]="'var(--color-secondary)'"
      text="Adote um pet"
    ></app-button>
  </section>
  <section></section>
  <section></section>
</main>
