.ourPets__home {
  background-image: url('../../../assets/images/homeDog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  gap: 4%;
}

.ourPets__about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  gap: 4%;
}
.about_info {
  display: flex;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
}
